<!-- email template -->
<html>

<body>
    {% for user, data in user_data.items() %}
    <h2
        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ddd;">
        Summary for {{ user }}.
    </h2>

    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th rowspan="2" style="border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f2f2f2;">
                Week
            </th>
            <th rowspan="2" style="border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f2f2f2;">
                Entry
            </th>
            <th colspan="5"
                style="border: 1px solid #ddd; padding: 8px; text-align: center; background-color: #f2f2f2;">
                Week Days
            </th>
        </tr>
        <tr>
            {% for day in week_days %}
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f2f2f2;">
                {{ day }}
            </th>
            {% endfor %}
        </tr>

        {% set week_entry_set = data.index.to_list() %}
        {% for week, entries in week_entry_set %}
        <tr>
            <td rowspan="{{ entries|length }}" style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ week
                }}</td>
            {% for entry, times in entries.items() %}
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{ entry }}</td>
            {% for day in week_days %}
            <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">
                {{ times[day] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endfor %}
</body>

</html>